<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :get_token %><br />
    <%= f.text_field :get_token %>
  </div>
  <div class="field">
    <%= f.label :delete_token %><br />
    <%= f.text_field :delete_token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
