<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @email.email %>
</p>

<p>
  <b>Get token:</b>
  <%= @email.get_token %>
</p>

<p>
  <b>Delete token:</b>
  <%= @email.delete_token %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
