<div class="row-fluid pushdown">
  <div class="span6 offset3">
    <p id="alert alert-success"><%= notice %></p>

    <div class="well">
      <h3 class="center"><%= @email.email %></h3>
    </div>

    <div>
      <strong>Give this link to people you want to share your email with:</strong>
      <pre><%= URI.join(root_url, @email.get_token) %></pre>
    </div>

    <div>
      <strong>Use this link to delete this record (warning: only displayed once):</strong>
      <pre><%= URI.join(root_url, '/delete/', @email.delete_token) %></pre>
    </div>

    <div class="center pushdown">
      <%= link_to raw('<i class="icon-chevron-left icon-white"></i> Back'), root_url, :class => "btn btn-large btn-inverse" %>
    </div>
  </div>
</div>
